<?xml version="1.0" encoding="utf-8"?>
<!-- $Id$ -->
<config>
    <fieldset name="compat" label="COM_WORKFLOW_CONFIG_COMPAT_LABEL" description="COM_PFTICKETS_CONFIG_COMPAT_DESC">
        <field name="jquery_site" type="list" default="" label="COM_WORKFLOW_CONFIG_JQUERY_SITE_LABEL" description="COM_WORKFLOW_CONFIG_JQUERY_SITE_DESC">
		    <option value="">JAUTO</option>
            <option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
        <field name="jquery_admin" type="list" default="" label="COM_WORKFLOW_CONFIG_JQUERY_ADMIN_LABEL" description="COM_WORKFLOW_CONFIG_JQUERY_ADMIN_DESC">
		    <option value="">JAUTO</option>
            <option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
        <field name="workflow_css" type="list" default="" label="COM_WORKFLOW_CONFIG_WORKFLOW_CSS_LABEL" description="COM_WORKFLOW_CONFIG_WORKFLOW_CSS_DESC">
		    <option value="">JAUTO</option>
            <option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>		
	</fieldset>
	
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			filter="rules"
			component="com_workflow"
			section="component" />
	</fieldset>
</config>
